Source: lingmo-appearance
Section: libs
Priority: optional
Maintainer: Lingmo OS Team <team@lingmo.org>
Build-Depends:
    cmake (>= 3.20),
    debhelper-compat (= 13),
    qt6-base-dev (>= 6.5),
Standards-Version: 4.6.2
Homepage: https://github.com/Matrinsoft/lingmo-appearance
Rules-Requires-Root: no

Package: liblingmoappearance1
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: lingmo-appearance
 Lingmo Desktop lingmo-appearance.

Package: liblingmoappearance-dev
Architecture: any
Depends: liblingmoappearance1 (= ${binary:Version}), ${misc:Depends}
Description: lingmo-appearance - development files
 This package contains the development files.